/LearningMeCSharp/packages
/LearningMeCSharp/.vs
/LearningMeCSharp/LearningMeCSharp.sln.DotSettings.user
/LearningMeCSharp/.vs/config
.vs
/LearningMeCSharp/wtujvk.LearningMeCSharp.CoreMvc/bin
obj
bin
/LearningMeCSharp/wtujvk.LearningMeCSharp.MysqlEFCore/bin
Debug
/LearningMeCSharp/wtujvk.LearningMeCSharp.MysqlEFCore/obj
/LearningMeCSharp/wtujvk.LearningMeCSharp.Console/bin/Debug
/LearningMeCSharp/wtujvk.LearningMeCSharp.ToolStandard/bin
/LearningMeCSharp/wtujvk.LearningMeCSharp.ToolStandard/bin/Debug
/LearningMeCSharp/wtujvk.LearningMeCSharp.ToolStandard/obj
/LearningMeCSharp/wtujvk.LearningMeCSharp.ToolStandard/*.user
/LearningMeCSharp/MysqlEF6Codefirst/bin
/LearningMeCSharp/MysqlEF6Codefirst/obj
/LearningMeCSharp/wtujvk.LearningMeCSharp.Console/bin
/LearningMeCSharp/wtujvk.LearningMeCSharp.Console/obj
