@using System.Collections.Specialized;
@{
    ViewData["Title"] = "Contact";
    var namevalues = ViewData["RequestInfo"] as NameValueCollection;
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<div>
    <ul class="container myul">
        @foreach (string item in namevalues.Keys)
        {
            <li><label class="" style="font:bold">@item </label><span>@namevalues.GetValues(item)?.FirstOrDefault()</span></li>
        }
    </ul>

</div>
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
